* {
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choicecover {
    background-color:rgb(221, 221, 221);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.choicecover div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.owner-btn {
    width: 250px;
    height: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 200px;
}

.owner-btn:hover{
    transform: scale(1.15);
}

.walker-btn {
    width: 250px;
    height: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 200px;
}

.walker-btn:hover{
    transform: scale(1.15);
}

.text1 {
    position: relative;
    font: bold 1.4em "Fira Sans", cursive;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(224, 180, 228);
    margin-bottom: 130px;
}

.text2 {
    position: relative;
    font: bold 1.4em "Fira Sans", cursive;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(224, 180, 228);
    margin-bottom: 130px;
}


