* {
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.addwalkercover {
    background-color:rgb(221, 221, 221);
    width: 30em;
    height: 40em;
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

input {
    background-color: rgba(238, 245, 252, 0.907);
    font-size: 20px;
    border-radius: 0.25em;
    border-color: transparent;
    height: 100%;
    width: 100%;
    margin:0;
    position: relative;
}

.addprofilephoto {
    width: 170px;
    height: 170px;
    margin-top: -1px;
    position: relative;
}

.ownerdescription {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:0;
    margin-top: -20px;
}

.ownerlocation {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:0;
}

.price {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:0;
}

.save-btn {
    width: 38%;
    height: 2em;
    background-color: rgba(147, 133, 255, 0.907);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.952);
    font-size: 1.4em;
    position: relative;
    margin-bottom: 8%;
}

.save-btn:hover {
    transform: scale(1.15);
}

.addwalkercover div text {
    width: 60%;
    height: 2em;
    margin: 0;
    align-items: center;
    text-align: start;
}