* {
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.walkermenucover {
    background-color:rgba(186, 165, 186, 0.581);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.walkeroptions {
    background-color:rgb(249, 208, 255);
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    background-image: url("./resources/back2.png");
    background-size: 120%;
    background-position: top;
}


.walkeroptionslist {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.walkeroptionslist div {
    height: 5em;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.walkeroptionslist div img {
    position:relative;
    bottom:12px;
    left:10px;
    width: 2.5em;
    height: auto;
}

.walkeroptionslist div:hover{
    transform: scale(1.15);
}

.walkeroptions div text {
    width: 95%;
    color: rgba(25, 6, 29, 0.8);
    font-size: 30px;
    position: relative;
    text-align: left;
    padding-left:30px;
    margin-bottom: 20px;
}




.petwalkdiv {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.petwalklogotext {
    color: rgba(11, 3, 12, 0.8);
    font-size: 40px;
    margin-left: -25px;
}

.petwalkdiv .petwalklogo {
    height: 8em;
    width: auto;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
}

.walkerprofile {
    height: 100%;
    width: 75%;
    box-shadow: 20px;
    background-image: radial-gradient(rgb(230, 238, 251),rgb(148, 177, 220));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.walkerprofile text {
    position: relative;
    font-size: 25px;
    text-align: start;
    width: 80%;
    color: rgb(25, 6, 29, 0.8);
    top: 8%;
}

.walkerprofile input {
    background-color: rgba(238, 245, 252, 0.907);
    font-size: 25px;
    width: 80%;
    text-align: start;
    border-radius: 0.25em;
    border-color: transparent;
    word-wrap: normal;
    height: 14em;
    margin:0;
    position: relative;
}

.prijavi-btn {
    width: 20%;
    height: 2em;
    background-color: rgba(147, 133, 255, 0.907);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.952);
    font-size: 25px;
    position: relative;
    margin-bottom: 8%;
}

.prijavi-btn:hover {
    transform: scale(1.15);
}