* {
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.signupcover {
    background-color:rgba(143, 115, 143, 0.581);
    width: 30em;
    height: 40em;
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}



.signup-btn {
    width: 60%;
    height: 2em;
    background-color: rgba(238, 245, 252, 0.907);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.5s;
    color: rgba(83, 86, 88, 0.849);
    font-size: 1.7em;
    position: relative;
    margin-bottom: 70px;
}



.signup-btn:hover{
    transform: scale(1.15);
}

.signupcover div input {
    background-color: rgba(238, 245, 252, 0.907);
    font-size: 20px;
    border-radius: 0.25em;
    border-color: transparent;
    height: 2.5em;
    width: 100%;
    margin:0;
    padding-left:40px;
    position: relative;
}



.signupname {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin-top: 90px;
}
.signupusername {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}
.signuppassword {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}
.signupnumber {
    height: 2.5em;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}


div img {
    position:absolute;
    bottom:8px;
    left:10px;
    width:25px;
    height:25px;
}


